header{
	margin-left:10px;
	margin-right:10px;
	top:10px;
	background-color: rgba(255,255,255,0.8);
	position: relative;
	text-align: center;
	line-height: 60px;
	border-radius: 5px;
	vertical-align: middle;
	font-size: 20pt;
	color:#dddddd;
	opacity:0;
	animation: appear 10s;
	animation-fill-mode:both
}

header > a{
	text-decoration: none;
	margin-left: 40px;
	margin-right: 40px;
	color:#555555;
}
header > a:hover{
	text-decoration: underline; 
	color: #ffffff
}
header > label.right{
	float: right;
	display: block;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	width: 48px;
	height: 48px;
	border-radius:24px;
	background-image:url('../img/Min_Picture.jpg');
	background-position: left top;
	background-size: 48px 48px;
	text-indent: 99999px;
}

@keyframes appear{
	0%{	
		opacity: 0;
	}
	20%{	
		opacity: 0;
	}
	30%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}