#loading{
	position: absolute;
	left: 45%;
	top: 40%;
	width: 10%;                              
 	height: 20%;        
	background: #000000;                      
 	border-radius: 50%;                        
	animation: circle 10s; 
	animation-fill-mode: both;
	z-index: -1;
}
@keyframes circle{
	0%{	
		transform: scale(0,0);
	}
	40%{
		transform: scale(20,20);
	}
	100%{
		transform: scale(20,20);
	}
}