<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>	
		<meta charset="utf-8">
		<title>dreamline91's page</title>
	 	<link rel="shortcut icon" type="image/x-icon" href="{% static 'personal/img/favicon.ico' %}"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Poiret+One" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/404.css' %}?ver=0.1"/>  
		<style>
			
		</style>
	</head>
	<body style="background-image: url({% static 'personal/img/background.jpg' %});">
		<div class="div_dark"></div>
		<div class="div_table">
			<div class="div_content">
				<span class="span_title">404</span><br>
				<hr>
				<span class="span_error">I think you input wrong address</span>
			</div>
		</div>
	</body>
</html>
