<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>	
		<META NAME=”ROBOTS” CONTENT=”NOINDEX, NOFOLLOW”>	
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta property="og:title" content="Personal page">
		<meta property="og:description" content="Dreamline91's page">
		<meta property="og:image" content="{% static 'personal/img/min_picture.jpg' %}">
		<meta charset="utf-8">
		<title>dreamline91's page</title>
	 	<link rel="shortcut icon" type="image/x-icon" href="{% static 'personal/img/favicon.ico' %}"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Poiret+One" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'external/github-calendar.css' %}">
		<link rel="stylesheet" href="{% static 'external/coverflow.css' %}">
		<link rel="stylesheet" href="{% static 'external/octicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'external/chartist.min.css' %}">
		<link rel="stylesheet" href="{% static 'external/github-activity-0.1.5.min.css' %}"> 
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}?ver=1.5"/>  

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'external/chartist.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/three.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/mustache.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/github-activity.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/github-calendar.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/progressbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/coverflow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/index.js' %}?ver=1.7"></script>
	</head>
	<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
		<div id="div_canvas"></div>
		<div id="div_loading"></div>
		<img id="img_background" src="{% static 'personal/img/background.jpg' %}"/>
		<header>
			<ul class="ul_outerMenu">
				<li class="li_outerMenu">
					<a href="javascript:switchMenu('home','');">Home</a>
					<ul class="ul_innerMenu">
                      		     		<li class="li_innerMenu"><a href="javascript:switchMenu('home','activity');">Activity</a></li>
             			        	<li class="li_innerMenu"><a href="javascript:switchMenu('home','favorite');">Favorite</a></li>
                        		</ul>
				</li>
				<li class="li_outerMenu">
					<a href="javascript:switchMenu('about');">About Me</a>
				</li>
				<li class="li_outerMenu">
					<a href="javascript:switchMenu('portfolio','');">Portfolio</a>
					<ul class="ul_innerMenu">
                           			<li class="li_innerMenu"><a href="javascript:switchMenu('portfolio','program');">Program</a></li>
             		        		<li class="li_innerMenu"><a href="javascript:switchMenu('portfolio','art');">Art</a></li>
             		        		<li class="li_innerMenu"><a href="javascript:switchMenu('portfolio','marathon');">Marathon</a></li>
                        		</ul>
				</li>
				<li class="li_outerMenu">
					<a href="javascript:switchMenu('research');">Research</a>
				</li>
				<li class="li_outerMenu">
					<a href="http://til.dreamline91.xyz" target="_blank">Today I Learned</a>
				</li>
				<li class="li_outerMenu">
					<a href="https://github.com/jaejunha" target="_blank">GitHub</a>
				</li>
				<li class="li_outerMenu">
					<a href="https://github.com/jaejunha/PersonalPage#refer" target="_blank">Reference</a>

				</li>
			</ul>
			<a href="/">
				<img class="img_logo" src="{% static 'personal/img/min_picture.jpg' %}">	
			</a>
		</header>
		<span class="span_loading">Screen is being loaded<br>Wait Please...</span>
		<div id="div_content"></div>
		<br>
		<br>
		<div id="div_screen">
			<div id="div_container"></div>
		</div>
	</body>
</html>
