<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>	
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta charset="utf-8">
		<title>dreamline91's page</title>
	 	<link rel="shortcut icon" type="image/x-icon" href="{% static 'personal/img/bird.png' %}"/>
		<style>
		html{
			width:100%;
			height:100%;
		}
		body{
			overflow-y:hidden; 
			overflow-x:hidden;
			font-family:Myriad Set Pro;
			width:100%;
			height:100%;
			margin:0;
		}
		</style>
		<link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}?ver=0.1"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}?ver=0.1"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}?ver=0.1"/>   
		<link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"/>
		<script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'js/switch.js' %}?ver=0.1"></script>
		<script type="text/javascript">
			var home = 1;
			$(document).ready( function() {
				var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
				if(isMobile)
					location.href='mobile';
				switch_menu('home');
			});
		</script>
	</head>
	<body>
		<div style="position:absolute; background:#ffffff; width:100%; height:100%; z-index:-1;"></div>
		<div id="loading"></div>
		<img id="background" src="{% static 'personal/img/background.jpg' %}"/>	
		<header>
			<div class="bar">
				<a href="javascript:switch_menu('home');">Home</a>
				<a href="javascript:switch_menu('about');">About Me</a>
				<a href="javascript:switch_menu('portfolio');">Portfolio</a>
				<a href="javascript:switch_menu('local');">Local</a>
				<a href="personal/personal.html">Memo</a>
			</div>
			<a href="/">
				<img class="logo" src="{% static 'personal/img/min_picture.jpg' %}">	
			</a>
		</header>
		<div id="content" style="margin:100px; margin-top:50px; min-width:1200px;"></div>
		<br>
		<br>
	</body>
</html>
