<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>	
		<meta name="google-site-verification" content="CFaPowEmpYf4xsMcixFnSnNTmLevToCM3Ux4pnTXm0Y" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="keywords" content="dreamline91, dreamline91.xyz">
		<meta property="og:title" content="Personal page">
		<meta property="og:description" content="Dreamline91's page">
		<meta property="og:image" content="{% static 'personal/img/min_picture.jpg' %}">
		<meta charset="utf-8">
		<title>dreamline91's page</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Poiret+One" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'external/github-calendar.css' %}">
		<link rel="stylesheet" href="{% static 'external/coverflow.css' %}">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
		<link rel="stylesheet" href="{% static 'external/chartist.min.css' %}">
		<link rel="stylesheet" href="{% static 'external/github-activity-0.1.5.min.css' %}"> 
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}?ver=2.0"/>  

		<script type="text/javascript" src="{% static 'external/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/chartist.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/three.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/OrbitControls.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/mustache.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/github-activity.js' %}"></script>
		<script type="text/javascript" src="{% static 'external/github-calendar.min.js' %}?ver=1.2.3"></script>
		<script type="text/javascript" src="{% static 'external/coverflow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/index.js' %}?ver=2.6"></script>
	</head>
	<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
		<div id="div_canvas"></div>
		<div id="div_circle"></div>
		<img id="img_background" src="{% static 'personal/img/background.jpg' %}"/>
		<header>
			<ul class="ul_outerMenu">
				<li class="li_outerMenu">
					<a href="javascript:switchMenu('home','');">Home</a>
					<ul class="ul_innerMenu">
                      		     		<li class="li_innerMenu"><a href="javascript:switchMenu('home','activity');">Activity</a></li>
             			        	<li class="li_innerMenu"><a href="javascript:switchMenu('home','favorite');">Favorite</a></li>
                        		</ul>
				</li>
				<li class="li_outerMenu">
					<a href="javascript:switchMenu('about');">About Me</a>
				</li>
				<li class="li_outerMenu">
					<a href="javascript:switchMenu('portfolio','');">Portfolio</a>
					<ul class="ul_innerMenu">
                           			<li class="li_innerMenu"><a href="javascript:switchMenu('portfolio','program');">Program</a></li>
             		        		<li class="li_innerMenu"><a href="javascript:switchMenu('portfolio','art');">Art</a></li>
             		        		<li class="li_innerMenu"><a href="javascript:switchMenu('portfolio','marathon');">Marathon</a></li>
                        		</ul>
				</li>
				<li class="li_outerMenu">
					<a href="javascript:switchMenu('research');">Research</a>
				</li>
				<li class="li_outerMenu">
					<a href="http://til.dreamline91.xyz" target="_blank">Today I Learned</a>
				</li>
				<li class="li_outerMenu">
					<a href="https://github.com/jaejunha" target="_blank">GitHub</a>
				</li>
				<li class="li_outerMenu">
					<a href="https://github.com/jaejunha/PersonalPage#refer" target="_blank">Reference</a>

				</li>
			</ul>
			<a href="/">
				<img class="img_logo" src="{% static 'personal/img/min_picture.jpg' %}">	
			</a>
		</header>
		<div id="div_loading"></div>
		<script>loadSphere("div_loading");</script>
		<div id="div_content"></div>
		<div id="div_screen">
			<div>
				<img src="{% static 'personal/img/bird.png' %}">
				<br>
				<span id="span_typing"></span>
			</div>
		</div>
	</body>
</html>
