<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<script type="text/javascript" src="{% static 'js/home/resize.js' %}"></script>
<script>
$(document).ready( function() {
        GitHubCalendar(".calendar", "jaejunha");
	resize('activity');
});
$(document).resize( function() {
	resize('activity');
});
</script>
</head>
<body>
	<p id="main">
		<span style="font-size:20pt;">GitHub Record</span>
		<br>
		<br>
		<div class="calendar" style="background-color: rgba(255,255,255,0.5);"></div><br>
		<span style="font-size:15pt; text-align:justify;">I tried to write code everyday and use github to track my records. Git is very convenient SCM.</span><br>
		<br>
		<span style="font-size:20pt;">Exercise Record</span>
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
		t
		<br>
	</p>
</body>
</html>