<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<script type="text/javascript" src="{% static 'js/github-calendar.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/github-calendar.css' %}"/>
<script>
$(document).ready( function() {
	new GitHubCalendar(".calendar", "jaejunha");
	$('#main').css('width',$(window).width()-200);
});
</script>
</head>
<body>
	<p id="main">
	I will explane my kewords.(fade in animation)<br>
	<div style="float:left; width:45%;">
		<span style="font-size:20pt;">GitHub Record</span>
		<br>
		<br>
		<div class="calendar" style="background-color: rgba(255,255,255,0.5);"></div><br>
		<span style="font-size:15pt; text-align:justify;">I tried to write code everyday and use github to track my records. Git is very convenient SCM.</span><br>
	</div>
	<div style="float:left; width:45%; margin-left:10%;">
		<span style="font-size:20pt;">Exercise Record</span>
		<br>
	</div>
	</p>
</body>
</html>