<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<script type="text/javascript" src="{% static 'js/home/resize.js' %}"></script>
<script>
$(document).ready( function() {
	resize('favorite');

});
$(window).resize(function (){
	resize('favorite');
});
</script>
<style>
	.desc{
		display: table;
		background-color: #cccccc;
		font-size: 15pt;	
		color: #ffffff;	
		z-index: 0;	
	}
	.desc div{
		display: table-cell;
		vertical-align : middle;
		text-align:center;
	}
	.favi{
		position: absolute;	
		display: inline;
	}
</style>
</head>
<body>
	<p id="main">
		<span style="font-size:20pt;">My favorite sites</span>
		{% for url, name in item %}
		<a href="{{url}}" target="_blank">
			{% if forloop.first %}
			<div class="icon">
			{% elif forloop.counter == 5 %}
			<div class="icon" style="margin-top:5%;">
			{% elif forloop.counter == 2 %}
			<div class="icon" style="margin-left:12%;">
			{% elif forloop.counter == 3 %}
			<div class="icon" style="margin-left:12%;">
			{% elif forloop.counter == 4 %}
			<div class="icon" style="margin-left:12%;">
			{% else %}
			<div class="icon" style="margin-top:5%; margin-left:12%;">
			{% endif %}
    				{% with n=forloop.counter|stringformat:"s" %}
				{% with 'site/Website'|add:n|add:'.png' as image %}
				{% with 'site/'|add:n as favi %}
				<img src="{% static image %}" alt=""/>
				<div class="desc"><div><img class="favi" src="{% static favi %}" alt=""/>{{name}}</div></div>
				{% endwith %}
				{% endwith %}
				{% endwith %}
				<div class="gradation"></div>
			</div>
		</a>
		{%endfor%}
	</p>
</body>
</html>