<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<script type="text/javascript" src="{% static 'js/home/resize.js' %}"></script>
<script>
$(document).ready( function() {
	resize('favorite');

});
$(window).resize(function (){
	resize('favorite');
});
</script>
</head>
<body>
	<p id="main">
		<span style="font-size:20pt;">My favorite sites</span>
		{% for data, title in item %}
		<a href="{{data}}" target="_blank">
			{% if forloop.first %}
			<div class="icon">
			{% elif forloop.counter == 5 %}
			<div class="icon" style="margin-top:5%;">
			{% elif forloop.counter == 2 %}
			<div class="icon" style="margin-left:12%;">
			{% elif forloop.counter == 3 %}
			<div class="icon" style="margin-left:12%;">
			{% elif forloop.counter == 4 %}
			<div class="icon" style="margin-left:12%;">
			{% else %}
			<div class="icon" style="margin-top:5%; margin-left:12%;">
			{% endif %}
    				{% with n=forloop.counter|stringformat:"s" %}
				{% with 'site/Website'|add:n|add:'.png' as image %}
				<img src="{% static image %}" alt=""/>
				{% endwith %}
				{% endwith %}
				<div class="desc"><font>{{title}}</font></div>
				<div class="gradation"></div>	
			</div>
		</a>
		{%endfor%}
	</p>
</body>
</html>