<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/home/menu.css' %}?ver=0.1"/>
<script type="text/javascript" src="{% static 'js/home/switch.js' %}?ver=0.1"></script>
<script type="text/javascript" src="{% static 'js/home/resize.js' %}?ver=0.1"></script>
<style>
	body{
		background:#000000;
		color:#ffffff;
	}
	#activity_content{
		overflow-y:auto;
	}
	#activity_content::-webkit-scrollbar {
		display:none;
	}
	#favorite_content{
		overflow-y:auto;
	}
	#favorite_content::-webkit-scrollbar {
		display:none;
	}  
</style>
<script type="text/javascript">
	var init = 1;
	var from = 0;	//0:activity	1:favorite
	$(document).ready( function() {
		var width = $(window).width();
		$('#intro_content').load('home/intro');
		$('#favorite_content').load('home/favorite');
		$('#favorite_content').css('position','absolute');
		$('#favorite_content').css('left',width+'px');
		$('#activity_content').load('home/activity');
		$('#activity_content').css('position','absolute');
		$('#activity_content').css('left',width+'px');
		$('#activity_content').css('width',(width-200)+'px');

	
		var height = $(window).height() - $('#activity_content').offset().top;
		$('#activity_content').css('height',height+'px');
		$('#favorite_content').css('height',height+'px');

		if(window.Worker){
			var w = new Worker("{% static 'js/home/worker.js' %}?ver=0.1");
		        w.onmessage = function(event) {
			if(init == 1 && home >= 0)
				from=switch_screen(init--,from,'activity');
        		};
			w.postMessage("Hello");
		}
		if(from == 0)
			resize('frame');

		
		//delete animation
		if(home != 1){
			$('#favorite').css('animation','appear_tab 0s');
			$('#favorite').css('opacity','1');
			$('#activity').css('animation','appear_tab 0s');
			$('#activity').css('opacity','1');
			$('hr').css('animation','appear_tab 0s');
			$('hr').css('opacity','1');
			$('#title').css('animation','appear_tab 0s');
			$('#bird').css('animation','appear_bird 0s');
		}
		home--;
	});
	$(window).resize(function (){
		if(init == 1){
		var width = $(window).width();
			$('#favorite_content').css('left',width+'px');
			$('#activity_content').css('left',width+'px');
			$('#activity_content').css('width',(width-200)+'px');
	
			var height = $(window).height() - $('#activity_content').offset().top;
			$('#activity_content').css('height',height+'px');
		}

		if(from == 0)
			resize('frame');
	});

</script>
</head>
<body>	
	<font id="title">Dreamline91's Page</font>
	<a id="favorite" href="javascript:from = switch_screen(init--,from,'favorite')">Favorite</a>
	<a id="activity" href="javascript:from = switch_screen(init--,from,'activity')">Activity</a>
	<hr/>
	<div id="intro_content"></div>
	<div id="favorite_content"></div>
	<div id="activity_content"></div>
</body>
</html>