<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/home/frame.css' %}?ver=0.2"/>
<script type="text/javascript" src="{% static 'js/home/frame.js' %}?ver=0.2"></script>
<script type="text/javascript" src="{% static 'js/home/resize.js' %}?ver=0.1"></script>
</head>
<body>	
	<font id="title">Dreamline91's Page</font>
	<a id="favorite" href="javascript:from = switch_screen(init--,from,'favorite');clearInterval(switch_blink);">Favorite</a>
	<a id="activity" href="javascript:from = switch_screen(init--,from,'activity');clearInterval(switch_blink);">Activity</a>
	<hr/>
	<div id="intro_content"></div>
	<div id="favorite_content"></div>
	<div id="activity_content"></div>
</body>
</html>
