<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/home/frame.css' %}?ver=0.9"/>
<script type="text/javascript" src="{% static 'js/home/frame.js' %}?ver=1.5"></script>
</head>
<body>	
	<font id="font_title">Dreamline91's Page</font>
	<a id="a_favorite" href="javascript:from = switchSubMenu('favorite');clearInterval(switch_blink);">Favorite</a>
	<a id="a_activity" href="javascript:from = switchSubMenu('activity');clearInterval(switch_blink);">Activity</a>
	<hr/>
	<div id="div_intro"></div>
	<div id="div_favorite"></div>
	<div id="div_activity"></div>
</body>
</html>
