<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/home/intro.css' %}?ver=1.1"/>
<script>
	var static_star = "{% static 'personal/model/star.json' %}?ver=0.1";
	var static_bird = "{% static 'personal/model/bird.json' %}?ver=0.2";
	var static_text = "{% static 'personal/model/text.json' %}?ver=0.1";
	var static_snow = "{% static 'img/snow.png' %}";
	var static_intro0 = "{{intro.0}}";
	var static_intro1 = "<br>{{intro.1}}";
</script>
<script type="text/javascript" src="{% static 'js/home/intro.js' %}?ver=1.6"></script>
</head>
<body>	
	<p id="first"></p>
	<p id="second"></p>
	<img id="img_habit" src="{% static 'personal/img/habit.png' %}?ver=0.2">
	<div id="div_threejs"></div>
	<script>
		if(home == 1)
			setTimeout(function() { loadThree(); }, 1000);
		else{
			index_star = ANI_STAR_ACTION1;
			index_bird = ANI_BIRD_ACTION1;
			index_text = ANI_WAIT;
			index_snow = ANI_WAIT;
			loadThree();
		}
		function loadThree(){
			bool_animate = true;
			time_start = new Date().getTime();

			clock = new THREE.Clock();
			scene = new THREE.Scene();

			renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
			renderer.setPixelRatio(window.devicePixelRatio);
			var int_width = $(window).width()-200;
			var int_height = $(window).height()-120;
			$('#div_threejs').css('height',int_height);
			renderer.setSize(int_width, int_height);

			$('#div_threejs').append(renderer.domElement);
			$('#div_threejs').css('overflow','hidden');

			camera = new THREE.OrthographicCamera( -int_width / 50, int_width / 50, int_height / 50, -int_height / 50, - 1000, 1000);
			camera.position.set(0, 5, 100);

			orbit = new THREE.OrbitControls(camera, renderer.domElement);
			orbit.minZoom = 0.5;
			orbit.maxZoom = 1.5;

			var ambient = new THREE.AmbientLight(0xffffff, 1);
	  		scene.add(ambient);

			var spot = new THREE.SpotLight(0xFFFFFF);
			spot.position.set(-45,90,30);  
			scene.add(spot); 

			loadStar();			
		}
	</script>
</body>
</html>
