<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/home/bird.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/home/introduce.css' %}"/>
<style>
	body{
		background:#000000;
		color:#ffffff;
	}
</style>
<script type="text/javascript">
	
	$(document).ready( function() {
		//delete animation
		if(home < 0){
			$('#bird').css('animation','appear_bird 0s');
			$('#bird').css('top','40%');
			$('#bird').css('left','30%');
			$('#bird').css('opacity','1');
			$('#gradation').css('animation','appear_gradation 0s');
			$('#gradation').css('transform','scale(2,2)');
			$('#gradation').css('left','30%');
			$('#gradation').css('opacity','0.6');
			$('#first').css('animation','appear_introduce 0s');
			$('#first').css('opacity','1');
			$('#second').css('animation','appear_introduce 0s');
			$('#second').css('opacity','1');
			$('#third').css('animation','appear_introduce 0s');
			$('#third').css('opacity','1');
			$('#character').css('animation','appear_introduce 0s');
			$('#character').css('opacity','1');
		}
	});
	$(window).resize(function (){
		if(from == 0)
			resize('frame');
	});

</script>
</head>
<body>	
	<p id="first">
	Hello, my name is <font>Jae Jun Ha</font><br>
	Welcome my homepage<br>
	</p>
	<p id="second">
	This page is my personal page. So, all of things in this page is my story. It includes my history, my work, my activity and etc...<br>
	<br>
	My major is <font>Software</font>, I like it since I was an elementary student. So, I want to be a software specialist. In addition, I want to have ability to draw what I want to express, be a sub-3 marathoner, study English and other languages, be always calm. So, my bucketlist is <font>Programming</font> / <font>Drawing</font> / <font>Marathon</font> / <font>Foreign language</font> / <font> Meditation</font>.<br>
	<br>
	I' ll study my major at MCNL lab located at Pohang. If you have any question about me, please feel free to contact me : <a href="mailto:dreamline91@ajou.ac.kr"><font>dreamline91@ajou.ac.kr</font></a> 
	</p>	
	<img id="gradation" src="{% static 'img/gradation.png' %}"/>
	<img id="bird" src="{% static 'personal/img/bird.png' %}"/>
</body>
</html>