
#bird{
	position:absolute;
	transition-origin: 50% 0%;
	width:300px;
	height:380px;
	left:50%;
	margin-left:-150px;
	top:-40%;         
	animation: appear_bird 10s; 
	animation-fill-mode: both;
	z-index:-1;
}
#gradation{
	position:absolute;
	top: 30%;
	left:50%;
	transition-origin: 0% 0%;
	margin-left:-300px;
	margin-top:40px;
	width: 600px;                          
 	height: 480px;                                 
	animation: appear_gradation 10s; 
	animation-fill-mode: both;
	z-index: -1;
}
@keyframes appear_bird{
	0%{	
		top:100%;
		left:50%;  
	}
	20%{	
		top:40%;	
		left:50%;
	}
	35%{
		top:40%;	
		left:50%;
		opacity:1;
	}
	36%{
		top:40%;
		left:30%;
		opacity:1;
	}
	100%{
		top:40%;
		left:30%;
		opacity:1;
	}
}
@keyframes appear_gradation{
	0%{
		opacity:0;
		left:50%;
	}
	15%{
		opacity:0;
		left:50%;
	}
	20%{	
		opacity:0.8;
		left:50%;
		transform: scale(1.2,1.2);
	}
	37.5%{
		opacity:0.6;
		left:50%;
		transform: scale(2,2);
	}
	39%{
		transform: scale(2,2);
		left:30%;
		opacity:0.6;
	}
	100%{
		transform: scale(2,2);
		left:30%;
		opacity:0.6;
	}
}