.div_desc{
	display: table;
	background-color: #cccccc;
	color: #ffffff;	
	z-index: 0;	
	}
.div_desc div{
	display: table-cell;
	vertical-align : middle;
	text-align:center;
}
.img_favicon{
	position: absolute;	
	display: inline;
}
.div_icon{
	margin-left:4.5%;
	margin-right:4.5%;
}