body{
	background:#000000;
	color:#ffffff;
}
#activity_content{
	overflow-x:hidden;
	overflow-y:auto;
}
#activity_content::-webkit-scrollbar {
	width:10px;
}
#activity_content::-webkit-scrollbar-thumb {
	background:#fff;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius:10px;
}
#favorite_content{
	overflow-y:auto;
}
#favorite_content::-webkit-scrollbar {
	width:10px;
}  
#favorite_content::-webkit-scrollbar-thumb{
	background:#fff;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius:10px;
}
#font_title{
	opacity: 0;
	font-family: 'Poiret One', cursive; 
	font-size: 30pt;
	width:300px;
	animation: appear 1s; 
	animation-delay: 4s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
}
#activity, #favorite{
	opacity: 0;
	font-size:15pt;
	margin-left:10px;
	margin-right:10px;
	margin-top:35px;
	float:right;
	text-decoration: none;
	color: #aaaaaa;
	animation: appear 1s; 
	animation-delay: 4s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
}
hr { 
	opacity: 0;
	border: solid 1px #aaaaaa;
	margin-top:20px;
	animation: appear 1s; 
	animation-delay: 4s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
}
#activity:hover, #favorite:hover{
	opacity: 1;
	text-decoration: underline;
	color: #ffffff;
}