body{
	background:#000000;
	color:#ffffff;
}
#div_activity{
	overflow-x:hidden;
	overflow-y:auto;
}
#div_activity::-webkit-scrollbar {
	width:10px;
}
#div_activity::-webkit-scrollbar-thumb {
	background:#fff;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius:10px;
}
#div_favorite{
	overflow-y:auto;
}
#div_favorite::-webkit-scrollbar {
	width:10px;
}  
#div_favorite::-webkit-scrollbar-thumb{
	background:#fff;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius:10px;
}
#font_title{
	opacity: 0;
	font-family: 'Poiret One', cursive;
	font-size: 30pt;
	animation: appear 1s; 
	animation-delay: 4s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
}
#a_activity, #a_favorite{
	opacity: 0;
	margin: 0px 10px 0 10px;
	float:right;
	text-decoration: none;
	color: #aaaaaa;
	animation: appear 1s; 
	animation-delay: 4s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
}
hr { 
	opacity: 0;
	border: solid 1px #aaaaaa;
	animation: appear 1s; 
	animation-delay: 4s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
}