#first{
	position: absolute;
	margin-right:100px;
	text-align:right;
	right:0px;
	font-family: 'Poiret One', cursive;
	margin-top:40px;
	font-size:30pt;           
	opacity:0;
	animation: appear_introduce 1s; 
	animation-delay:4.0s;
   	-webkit-animation-fill-mode: forwards;
}
#detail{
	position:absolute;
	margin-top:160px;
	margin-right:100px;
	left:60%;
	font-family: 'Poiret One', cursive; 
	font-size:20pt;   
	text-align:justify;             
}
#second{
	opacity:0;      
	animation: appear_introduce 1s; 
	animation-delay:4.6s;
   	-webkit-animation-fill-mode: forwards;
}

#third{
	opacity:0;      
	animation: appear_introduce 1s; 
	animation-delay:5.2s;
   	-webkit-animation-fill-mode: forwards;
}
#fourth{
	opacity:0;      
	animation: appear_introduce 1s; 
	animation-delay:5.8s;
   	-webkit-animation-fill-mode: forwards;
}
p font{    
	color:#ffff00;  
}	

@keyframes appear_introduce{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
