#first{
	position: absolute;
	margin: 20px 100px 0 0;
	right:0px;
	text-align:right;
	font-family: 'Poiret One', cursive;     
	opacity:0;

	animation: appear 1s; 
	animation-delay:6.0s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
}
#second{
	position:absolute;
	margin: 100px 100px 0 0;
	left: 60%;
	text-align:justify;       
	font-family: 'Poiret One', cursive; 
	opacity:0;   

	animation: appear 1s; 
	animation-delay:6.6s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;     
}
p b{ color:#ffff00; }	