#first{
	position: absolute;
	margin: 20px 100px 0 0;
	right:0px;
	text-align:right;
	font-family: 'Poiret One', cursive;     
	opacity:0;

	animation: appear 1s; 
	animation-delay:7.5s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
}
#second{
	position:absolute;
	margin: 100px 100px 0 0;
	left: 60%;
	text-align:justify;       
	font-family: 'Poiret One', cursive; 
	opacity:0;   

	animation: appear 1s; 
	animation-delay:8.1s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;     
}
p b{ color:#ffff00; }	
#img_habit{
	position: absolute;
	margin: 0 100px 20px 0;
	bottom: 0;
	right: 0;
	opacity: 0;

	animation: appear 1s; 
	animation-delay:8.7s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;   
}