#contact {display : none;}
#contact + #wrap > #contact_content_wrap {display : none;}
#contact:checked + #wrap > #contact_content_wrap {display : block;}
	
#contact_content_wrap {
	width: 180px;
	margin-top: 5px;
	float: right;
}
#triangle{	
	position: relative;
  	width: 0px;
	height: 0px;
 	border-top:10px solid none;
  	border-bottom:10px solid #2A2A2A;	
  	border-right: 10px solid transparent;
  	border-left: 10px solid  transparent;
	left: 140px;
}
#contact_content{
	background: #666666;
	height: 120px;
	border-radius:5px;
}
#contact_content > #upper{
	padding-top: 5px;
	padding-left: 5px;
	background: #2A2A2A;	
	height: 30px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#contact_content > #upper > #text{
	font-size: 15pt;
	color: #ffffff;
}
#contact_content > #body{
	padding: 10px;
	padding-top: 5px;
}
.contact_icon{
	width: 12px;
	height: 12px;
}
.mail{
	color: #ffffff;
	font-size: 8pt;
}