body,html{
	position: absolute;
	overflow-y:hidden; 
	overflow-x:hidden;
	font-family:'Montserrat', sans-serif;
	width:100%;
	height:100%;
	margin:0;
	top: 0;
}
a{ text-decoration: none; }
#div_canvas{
	position:absolute; 
	background:#ffffff; 
	width:100%; 
	height:100%; 
	z-index:-1;
}
#div_screen{ 
	position:absolute; 
	top:0%;
	width:100%; 
	height:100%;
	animation: screen 1.5s; 
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
	z-index:1;

	background:#000000;
}
#div_container {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
  	width: 200px;
  	height: 200px;
}
#div_loading{
	display: none; 
	margin:10px;
	position: absolute;
	width: 100%;
	height: 100%;
}
#div_circle{
	opacity:0;
	position: absolute;
	background: #000000;                      
 	border-radius: 50%;                        
	animation: loading 4s; 
	animation-delay: 1.5s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
	z-index: -1;
}

#img_background{
	position:absolute;
	min-width:1200px;
	width:100%;
	height:100%;
	opacity:0;
	animation: background 4s; 
	animation-delay: 1.5s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
	z-index: -1;
}

#div_content{
	margin:40px 100px 0px 100px;
	z-index:0;
}
header{
	position:relative;
	display: block;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.8);
	margin:10px 0px 5px 10px;
	height:60px;
	opacity:0;
	animation: appear 1s;
	animation-delay: 3.5s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
	z-index:1;
}
.ul_outerMenu{
	margin:0;
	overflow: hidden;
	list-style-type: none;
	text-align:center;
}
.li_outerMenu{
	float:left;
	line-height:60px;
}
.li_outerMenu:nth-of-type(1){
	margin: 0px 0px 0px 40px;;
}
.li_outerMenu:hover{
	background:#bbbbbb;
}

.li_outerMenu:hover .ul_innerMenu{		 
	display: block;
}

.li_outerMenu a{
	color:#555555;
}

.li_outerMenu a:hover{
	color:#ffffff;
}

.ul_innerMenu{
	padding:0;
	margin: 0;
	display:none;
	list-style-type: none;
}
.li_innerMenu{	
	padding: 0px 42.5px 0px 42.5px;
	float:none;
}
.li_innerMenu:hover{	
	background:#aaaaaa;
}
.img_logo{
	opacity:0;
	position: absolute;
	width: 48px;
	height: 48px;
	top:6px;
	left:6px;
	border-radius:24px;
	background-image:url('../personal/img/min_picture.jpg');
	animation: appear 1s;
	animation-delay: 3.5s;
   	animation-fill-mode: forwards;
   	-webkit-animation-fill-mode: forwards;
	z-index:2;
}

@keyframes screen{
	0%{	
		opacity:1;
	}	
	66%{	
		opacity:1;
	}	
	100%{
		opacity:0;
	}
}

@keyframes loading{
	0%{	opacity:1;
		transform: scale(0,0);
	}
	100%{
		opacity:1;
		transform: scale(20,20);
	}
}

@keyframes background{
	0%{	
		opacity:0;
	}
	100%{
		opacity:0.5;
	}
}

@keyframes appear{
	0%{	
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
