<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/about/menu.css' %}"/>
<script type="text/javascript" src="{% static 'js/about/switch.js' %}"></script>
<style>
	body{
		background:#000000;
		color:#ffffff;
	}
	pre {	white-space: pre-wrap;
		font-size:15pt; 
		font-family:myriad-set-pro;
		margin-bottom:-10pt;
	}
	#inner_content{
		overflow-y:auto;
	}
	#inner_content::-webkit-scrollbar {
		display:none;
	} 
</style>
<script type="text/javascript">
	$(document).ready( function() {
		var size = $(window).height() - $('#inner_content').offset().top;
		$('#inner_content').css('height',size+'px');
		
		$('#personal').css('color','#ffffff');
		$('#personal').css('opacity',1);
		$('#inner_content').load('about/personal');
	});
		</script>
</head>
<body>	
	<font id="title">Me</font>
	<a id="history" href="javascript:switch_screen('history');">History</a>
	<a id="personal" href="javascript:switch_screen('personal');">Personal</a>
	<hr/>
	<div id="inner_content"></div>
</body>
</html>