<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<style>
	body{
		background:#000000;
		color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:15pt;
	}
	td{
		vertical-align:top;
	}
	tr td:nth-child(1){
		width:200px;
		font-weight:bold;
	}
	td a, td a:hover{
		color:#ffffff;
		text-decoration: none;	
	}
</style>
<script>
	$(document).ready( function() {
		$("table a").click(function(){
			expand($(this).parent().parent().attr('class'));
		});
	});

	function expand(name){
		var status=$('.'+name+' td:nth-child(1) a').text();
		if(status.indexOf('▶')>-1){
			$('.'+name+' td:nth-child(1) a').text(status.replace('▶','▼'));
			$('.'+name.replace('history','content')).css('display','');
			$('.'+name.replace('history','content')).css('font-size','12pt');
		}
		else{
			$('.'+name+' td:nth-child(1) a').text(status.replace('▼','▶'));
			$('.'+name.replace('history','content')).css('display','none');
		}
	}
</script>
</head>
<body>
	<br>
	<div>
	<img src="{% static 'personal/img/profile.jpg' %}" width="300px" height="300px" style="float:left;">
	<table style="margin-left:350px;">
	{% for bold, content in personal %}
		<tr>
			<td>{{bold}}</td>
			<td>{{content}}</td>
		</tr>		
	{%endfor%}
	</table>
	</div>
	<br>
	<div style="width:300px;text-align:center;">(In 2017, I draw my portrait)</div>
	<br>
	<span style="font-size:20pt;">Happy Graph</span><br>
	<br>
	<div class="ct-chart ct-square" style="height:300px;"></div>
	<script>
		var chart = new Chartist.Line('.ct-chart', {
  		labels: ['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
  		
		// Naming the series with the series object array notation
  		series: [{
    			name: 'happy',
    			data: [3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3, -3, 3]}]}, {
  		fullWidth: false,
  // Within the series options you can use the series names
  // to specify configuration that will only be used for the
  // specific series.
  		series: {
    			'happy': {
      				lineSmooth: Chartist.Interpolation.simple(),
      				showArea: true
    			}
  		}
	}, [
  	// You can even use responsive configuration overrides to
  	// customize your series configuration even further!
  	['screen and (max-width: 320px)', {
    		series: {
      			'series-1': {
        		lineSmooth: Chartist.Interpolation.none(),
        		showArea: false
      		}
    	}}]]);

	/* refer : https://codepen.io/adrianparr/pen/QEjyLx */
	$('.ct-chart').on('mouseover', '.ct-chart-line .ct-series-a line, .ct-chart-line .ct-series-b line, .ct-chart-bar .ct-series-c line', function(evt) {
  		var index = $(this).index()-2;
  		var label = $(this).closest('.ct-chart-line').find('.ct-labels foreignobject:nth-child('+(index+1)+') span').text();
  		var value = $(this).attr('ct:value');
		alert(label);
	});
	/* refer : https://codepen.io/adrianparr/pen/QEjyLx */
	</script>



	<span style="font-size:20pt;">History</span><br>
	<br>
	<table>
	{% for bold, content, sub, name in history %}
		{% if sub == 0 %}	
			<tr class="history_{{name}}">
			{% if bold.0 == bold.1 %}
					<td><a href="javascript:void(0);">▶ {{bold.0}}</a></td>
			{% else %}
					<td><a href="javascript:void(0);">▶ {{bold.0}} ~ {{bold.1}}</a></td>
			{% endif %}
			<td><a href="javascript:void(0);">{{content}}</a></td>
		{% else %}
			<tr class="content_{{name}}" style="display:none; color:#ffff00;">
			{% if bold.0 == bold.1 %}
					<td>&nbsp;-&nbsp;{{bold.0}}</td>
			{% else %}
					<td>&nbsp;-&nbsp;{{bold.0}} ~ {{bold.1}}</td>
			{% endif %}
			<td>{{content}}</td>
		{% endif %}
		</tr>		
	{%endfor%}
	</table>
	<br>
	<br>
</body>
</html>
