<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<style>
	body{
		background:#000000;
		color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:15pt;
	}
	td{
		vertical-align:top;
	}
	tr td:nth-child(1){
		width:200px;
		font-weight:bold;
	}
	td a, td a:hover{
		color:#ffffff;
		text-decoration: none;	
	}
	.div_happyContent{
		background:rgba(255,255,255,0.5);
		border:solid 1 white;
		padding:10px;
		border-width: 2px;
		border-color: #fff;
		border-style: solid;
		border-radius:5px;
	}
	.ct-horizontal, .ct-vertical {
    		color:#ffffff;
	}
	.ct-grid {
  		stroke: rgba(255,255,255,0.5);
  		stroke-width: 2px;
	}
}
</style>
<script>
	var year;
	var value;
	var array_year = new Array({{happy|length}});
	var array_company = new Array({{happy|length}});
	var array_content = new Array({{happy|length}});
	var array_value = new Array({{happy|length}});
	$(document).ready( function() {
		$('#content').animate({opacity:1}, 1000);
		$("table a").click(function(){
			expandTable($(this).parent().parent().attr('class'));
		});
		{% for h in happy %}
			array_year[{{forloop.counter0}}]={{h.0}};
			array_company[{{forloop.counter0}}]="{{h.1}}";
			array_content[{{forloop.counter0}}]="{{h.2}}";
			array_value[{{forloop.counter0}}]={{h.3}};
		{% endfor %}
	});

	function expandTable(name){
		var status=$('.'+name+' td:nth-child(1) a').text();
		if(status.indexOf('▶')>-1){
			$('.'+name+' td:nth-child(1) a').text(status.replace('▶','▼'));
			$('.'+name.replace('history','content')).css('display','');
			$('.'+name.replace('history','content')).css('font-size','12pt');
		}
		else{
			$('.'+name+' td:nth-child(1) a').text(status.replace('▼','▶'));
			$('.'+name.replace('history','content')).css('display','none');
		}
	}
</script>
</head>
<body>
	<br>
	<div>
	<img src="{% static 'personal/img/profile.jpg' %}" width="300px" height="300px" style="float:left;">
	<table style="margin-left:350px;">
	{% for bold, content in personal %}
		<tr>
			<td>{{bold}}</td>
			<td>{{content}}</td>
		</tr>		
	{%endfor%}
	</table>
	</div>
	<br>
	<div style="width:300px;text-align:center;">(In 2017, I draw my portrait)</div>
	<br>
	<span style="font-size:20pt;">Happy Graph</span><br>
	<br>
	<div class="ct-chart ct-square" style="height:300px; overflow-y:hidden;"></div>
	<script>
		var chart = new Chartist.Line('.ct-chart', {
  		labels: array_year,
  		
		// Naming the series with the series object array notation
  		series: [{
    			name: 'happy',
    			data: array_value}]}, {
  		fullWidth: false,
  // Within the series options you can use the series names
  // to specify configuration that will only be used for the
  // specific series.
  		series: {
    			'happy': {
      				lineSmooth: Chartist.Interpolation.simple(),
      				showArea: true
    			}
  		}
	}, [
  	// You can even use responsive configuration overrides to
  	// customize your series configuration even further!
  	['screen and (max-width: 320px)', {
    		series: {
      			'series-1': {
        		lineSmooth: Chartist.Interpolation.none(),
        		showArea: false
      		}
    	}}]]);

	/* refer : https://codepen.io/adrianparr/pen/QEjyLx */
	$('.ct-chart').on('mouseover', '.ct-chart-line .ct-series-a line, .ct-chart-line .ct-series-b line, .ct-chart-bar .ct-series-c line', function(evt) {
		$('.ct-chart-line .ct-series-a line, .ct-chart-line .ct-series-b line, .ct-chart-bar .ct-series-c line').css('stroke','#ff0000');		
		$(this).css('stroke','#ffffff');
  		var index = $(this).index()-2;
  		year = $(this).closest('.ct-chart-line').find('.ct-labels foreignobject:nth-child('+(index+1)+') span').text();
  		value = $(this).attr('ct:value');
		var text = '<b>'+year+'</b><br>'+array_company[year-{{happy.0.0}}]+'<br><br>'+array_content[year-{{happy.0.0}}];
		text = text.replace(/&lt;/g,'<');
		text = text.replace(/&gt;/g,'>');
		$('.div_happyContent').html(text);
	});
	/* refer : https://codepen.io/adrianparr/pen/QEjyLx */
	</script>
	<div class="div_happyContent">
		<b>Alert</b><br>
		<br>
		If you want to see content of happy graph<br>
		Please click point of graph
	</div><br>
	<br>
	<span style="font-size:20pt;">History</span><br>
	<br>
	<table>
	{% for bold, content, sub, name in history %}
		{% if sub == 0 %}	
			<tr class="history_{{name}}">
			{% if bold.0 == bold.1 %}
					<td><a href="javascript:void(0);">▶ {{bold.0}}</a></td>
			{% else %}
					<td><a href="javascript:void(0);">▶ {{bold.0}} ~ {{bold.1}}</a></td>
			{% endif %}
			<td><a href="javascript:void(0);">{{content}}</a></td>
		{% else %}
			<tr class="content_{{name}}" style="display:none; color:#ffff00;">
			{% if bold.0 == bold.1 %}
					<td>&nbsp;-&nbsp;{{bold.0}}</td>
			{% else %}
					<td>&nbsp;-&nbsp;{{bold.0}} ~ {{bold.1}}</td>
			{% endif %}
			<td>{{content}}</td>
		{% endif %}
		</tr>		
	{%endfor%}
	</table>
	<br>
	<br>
</body>
</html>
