#title{
	font-family: Modeka;
	font-size: 30pt;
	width:300px; 
	}
#personal, #bucketlist, #history{
	font-size:15pt;
	margin-left:10px;
	margin-right:10px;
	margin-top:35px;
	float:right;
	opacity: 0.5;
	text-decoration: none;
	color: #aaaaaa;
}

hr { 
	border: solid 1px #aaaaaa;
	margin-top:20px;
}

#personal:hover, #bucketlist:hover, #history:hover{
	opacity: 1;
	text-decoration: underline;
	color: #ffffff;
}