body{
	background:#000000;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:15pt;
}
td{
	vertical-align:top;
}
tr td:nth-child(1){
	width:200px;
	font-weight:bold;
}
td a, td a:hover{
	color:#ffffff;
	text-decoration: none;	
}
.div_happyContent{
	background:rgba(255,255,255,0.5);
	border:solid 1 white;
	padding:10px;
	border-width: 2px;
	border-color: #fff;
	border-style: solid;
	border-radius:5px;
}
.ct-horizontal, .ct-vertical {
    	color:#ffffff;
}
.ct-grid {
  	stroke: rgba(255,255,255,0.5);
  	stroke-width: 2px;
}