	#first{
		position: absolute;
		margin-right:100px;
		text-align:right;
		right:0px;
		font-family: Modeka;
		margin-top:40px;
		font-size:30pt;    
		animation: appear_introduce 10s; 
		animation-fill-mode: both;       
		animation-delay:0.5s;  
	}
	#second{
		position:absolute;
		margin-top:170px;
		margin-right:100px;
		left:60%;
		font-family: Modeka;
		font-size:30pt;   
		text-align:justify;
		animation: appear_introduce 10s; 
		animation-fill-mode: both;        
		animation-delay:1.1s;  
	}
	#third{
		position:absolute;
		margin-top:450px;
		margin-right:100px;
		left:60%;
		font-family: Modeka;
		font-size:30pt;   
		text-align:justify;
		animation:appear_introduce 10s; 
		animation-fill-mode: both;        
		animation-delay:1.7s;  
	}
	#character{
		position:absolute;
		margin-top:590px;
		margin-right:100px;
		right:0px;
		width:486px;
		height:150px;
		animation: appear_introduce 10s; 
		animation-fill-mode: both;        
		animation-delay:2.3s; 
	}
	#first font:nth-child(2){    
		color:#ffff00;  
	}
	#second font:nth-child(4n+2){         
		color:#ffff00;    
	}
	#third font:nth-child(2n){         
		color:#ffff00;    
	}

@keyframes appear_introduce{
	0%{
		opacity:0;
	}
	35%{
		opacity:0;
	}
	45%{
		opacity:1;
	}
	100%{
		opacity:1;
	}
}