<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<script src="https://cdn.rawgit.com/coverflowjs/coverflow/master/dist/coverflow.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/coverflowjs/coverflow/master/dist/coverflow.css" />   
<style>
	body{
		background:#000000;
		color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:15pt;
	}
	table td:nth-child(1){
		font-weight:bold;
		width:200px;
	}
	b{
		color:#ffff00;
	}
	.ui-coverflow-wrapper{
		height: 350px;
        	margin-top: 50px;
	}
        .ui-state-active{
       		border: 0px;
	}
	#coverflow img{
		width: 400px;
		height: 300px;
	}
</style>
<script>
var portfolio_before = 2;
var portfolio_now = 2;

$(document).ready(function(){
	$('#coverflow').coverflow({
                active: 2,
                select: function(event, ui){}
	});
    
	$('#coverflow img').click(function() {
		if( ! $(this).hasClass('ui-state-active')){
                	return;
		}
	//	$('#portfolio .'+portfolio_now).css('display','block');
	//	$('#portfolio .'+portfolio_now).css('opacity','0');
	//	$('#portfolio .'+portfolio_now).animate({ opacity : "1" },1000);
	//	$('#portfolio .'+portfolio_before).css('display','none');
		portfolio_before = portfolio_now;
         });
});
</script>
</head>
<body>
	<table>
		<tr>
			<td>Start</td>
			<td>2013.03.02.Thu</td>
		</tr>
		<tr>
			<td>Area</td>
			<td><b>Figure Painting</b> / <b>Illust</b></td>
		</tr>
		<tr>
			<td>Software</td>
			<td><b>Illustrator</b> / <b>Photo Shop</b> / <b>mspaint</b></td>
		</tr>
		<tr>
			<td>Tool</td>
			<td>Tablet / <b>Sharp Pencil</b> / <b>Conte Pencil</b> / <b>Erase</b> / Stump / <b>Tissue</b> / <b>HB</b> / <b>4B</b> </td>
		</tr>
	</table>
	<br>
	<div>
	       <div id="coverflow">
			<img src="http://placehold.it/400x300" onclick="javascript:portfolio_now=0;"/>
			<img src="http://placehold.it/400x300" onclick="javascript:portfolio_now=1;"/>
			<img src="http://placehold.it/400x300" onclick="javascript:portfolio_now=2;"/>
			<img src="http://placehold.it/400x300" onclick="javascript:portfolio_now=3;"/>
			<img src="http://placehold.it/400x300" onclick="javascript:portfolio_now=4;"/>
	       </div>
	</div>
</body>
</html>
