<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?ver=0.2"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/portfolio/frame.css' %}?ver=0.1"/>
<script type="text/javascript" src="{% static 'js/portfolio/frame.js' %}?ver=0.2"></script>
<script type="text/javascript" src="{% static 'js/portfolio/portfolio.js' %}?ver=0.4"></script>
</head>
<body>	
	<font id="font_title">Portfolio</font>
	<a id="a_marathon" href="javascript:switchSubMenu('marathon');">Marathon</a>
	<a id="a_art" href="javascript:switchSubMenu('art');">Art</a>
	<a id="a_program" href="javascript:switchSubMenu('program');">Program</a>
	<hr/>
	<div id="div_inner"></div>
</body>
</html>
