<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<style>
	body{
		background:#000000;
		color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:15pt;
	}
	table td:nth-child(1){
		font-weight:bold;
		width:200px;
	}
	b{
		color:#ffff00;
	}
</style>
<script>
$(document).ready(function(){
	var text='';
	{% for m in marathon_experience %}
	text+='<tr><td>';
	text+="{{m.0}}".replace(/&lt;/g,'<').replace(/&gt;/g,'>')+'</td><td>';
	text+="{{m.1}}".replace(/&lt;/g,'<').replace(/&gt;/g,'>')+'</td></tr>';
	{% endfor %}
	$('.experience').html(text);	
});
</script>
</head>
<body>
	<table class="experience"></table>
</body>
</html>
