<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<style>
	body{
		background:#000000;
		color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:15pt;
	}
	table td:nth-child(1){
		font-weight:bold;
		width:200px;
	}
	b{
		color:#ffff00;
	}
</style>
<script>
</script>
</head>
<body>
	<table>
		<tr>
			<td>Start</td>
			<td>2015.01.08.Thu</td>
		</tr>
		<tr>
			<td>Hit Rate</td>
			<td><b>50~60</b></td>
		</tr>
		<tr>
			<td>Injury</td>
			<td><b>Knee</b></td>
		</tr>
		<tr>
			<td>Full</td>
			<td>Yet</td>
		</tr>
		<tr>
			<td>Half</td>
			<td>Yet</td>
		</tr>
		<tr>
			<td>10 KM</td>
			<td><b>44min</b></td>
		</tr>
		<tr>
			<td>5 KM</td>
			<td><b>20min</b></td>
		</tr>
		<tr>
			<td>1 Miles</td>
			<td>Yet</td>
		</tr>
	</table>
</body>
</html>
