<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<style>
	body{
		background:#000000;
		color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:15pt;
	}
	table td:nth-child(1){
		font-weight:bold;
		width:200px;
	}
	b{
		color:#ffff00;
	}
	.ui-coverflow-wrapper{
		height: 350px;
        	margin-top: 50px;
	}
        .ui-state-active{
       		border: 0px;
	}
	#coverflow img{
		width: 400px;
		height: 300px;
	}
</style>
<script>
var portfolio_before = 2;
var portfolio_init = 0;

$(document).ready(function(){
	$('#coverflow').coverflow({
                active: 2,
                select: function(event, ui){
			portfolio_before = ui.index;
		}
	});

/*	$('#coverflow img').click(function() {
		if( ! $(this).hasClass('ui-state-active')){
                	return;
		}
	//	$('#portfolio .'+portfolio_now).css('display','block');
	//	$('#portfolio .'+portfolio_now).css('opacity','0');
	//	$('#portfolio .'+portfolio_now).animate({ opacity : "1" },1000);
	//	$('#portfolio .'+portfolio_before).css('display','none');
		portfolio_before = portfolio_now;
         });*/
});
</script>
</head>
<body>
	<table>
		<tr>
			<td>Start</td>
			<td>2011.03.02.Wed</td>
		</tr>
		<tr>
			<td>Langauage</td>
			<td><b>C</b> / C++ / <b>Java</b> / <b>Python</b> / JSP / PHP / HTML5+CSS+JS</td>
		</tr>
		<tr>
			<td>Framework</td>
			<td><b>Django</b></td>
		</tr>
		<tr>
			<td>DB</td>
			<td><b>MySQL</b> / <b>SQLite</b> / PostgreSQL</td>
		</tr>
		<tr>
			<td>Library</td>
			<td><b>Android SDK</b> / <b>OpenGL ES 2.0</b> / OpenCV / Tensorflow / <b>Swing</b> / <b>Win API</b></td>
		</tr>
		<tr>
			<td>Hardware</td>
			<td><b>Raspberry Pi3</b> / <b>Arduino</b></td>
		</tr>
		<tr>
			<td>OS</td>
			<td><b>Window</b> / Ubuntu</td>
		</tr>
		<tr>
			<td>Editor</td>
			<td><b>vim</b> / <b>Visual Studio</b> / <b>Eclipse</b> / <b>Android Studio</b> / Atom</td>
		</tr>
		<tr>
			<td>Tool</td>
			<td><b>GitHub</b> / <b>Wire Shark</b> / <b>Illustrator</b> / <b>Photo Shop</b> / Amazon Web Service</td>
		</tr>
		<tr>
			<td>Interest</td>
			<td><b>Network</b> / <b>Graphics</b></td>
		</tr>
	</table>
	<br>
	<div>
	       <div id="coverflow">
			<img src="http://placehold.it/400x300"/>
			<img src="http://placehold.it/400x300"/>
			<img src="http://placehold.it/400x300"/>
			<img src="http://placehold.it/400x300"/>
			<img src="http://placehold.it/400x300"/>
		</div>
	</div>
</body>
</html>
