<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<style>
	body{
		background:#000000;
		color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:15pt;
	}
	table td:nth-child(1){
		font-weight:bold;
		width:200px;
	}
	b{
		color:#ffff00;
	}
	.ui-coverflow-wrapper{
		height: 350px;
        	margin-top: 50px;
	}
        .ui-state-active{
       		border: 0px;
	}
	#coverflow img{
		width: 400px;
		height: 300px;
	}
	table { width:100%; }
	table td{
		valign:top;
	}
	.image{ text-align:center; }
	.image img{
		display:block;
		margin:auto;
	}
</style>
<script>
var portfolio_before = 1;
var portfolio_init = 0;

$(document).ready(function(){
	$('#coverflow').coverflow({
                active: 1,
                select: function(event, ui){
			portfolio_before = ui.index;
			$(".desc span:nth-child(1)").text(ui.index+" item");
		//	$(".desc table tr:nth-child(1) td:nth-child(2)").text(ui.index);
		}
	});
});
</script>
</head>
<body>
	<table>
		<tr>
			<td>Start</td>
			<td>2011.03.02.Wed</td>
		</tr>
		<tr>
			<td>Langauage</td>
			<td><b>C</b> / C++ / <b>Java</b> / <b>Python</b> / JSP / PHP / HTML5+CSS+JS</td>
		</tr>
		<tr>
			<td>Framework</td>
			<td><b>Django</b></td>
		</tr>
		<tr>
			<td>DB</td>
			<td><b>MySQL</b> / <b>SQLite</b> / PostgreSQL</td>
		</tr>
		<tr>
			<td>Library</td>
			<td><b>Android SDK</b> / <b>OpenGL ES 2.0</b> / OpenCV / Tensorflow / <b>Swing</b> / <b>Win API</b></td>
		</tr>
		<tr>
			<td>Hardware</td>
			<td><b>Raspberry Pi3</b> / <b>Arduino</b></td>
		</tr>
		<tr>
			<td>OS</td>
			<td><b>Window</b> / Ubuntu</td>
		</tr>
		<tr>
			<td>Editor</td>
			<td><b>vim</b> / <b>Visual Studio</b> / <b>Eclipse</b> / <b>Android Studio</b> / Atom</td>
		</tr>
		<tr>
			<td>Tool</td>
			<td><b>GitHub</b> / <b>Wire Shark</b> / <b>Illustrator</b> / <b>Photo Shop</b> / Amazon Web Service</td>
		</tr>
		<tr>
			<td>Interest</td>
			<td><b>Network</b> / <b>Graphics</b></td>
		</tr>
	</table>
	<br>
	<div>
	       <div id="coverflow">
			<img src="http://placehold.it/400x300"/>
			<img src="http://placehold.it/400x300"/>
			<img src="http://placehold.it/400x300"/>
			<img src="http://placehold.it/400x300"/>
			<img src="http://placehold.it/400x300"/>
		</div>
	</div>
	<div class="desc">
		<span style="font-size:20pt;"></span><br>
		<br>
		<div class="image">
			<img src="{% static 'img/alt.png' %}">
		</div>
		<br>
		<table>
			<tr>
				<td>Duration</td>
				<td></td>
			</tr>
			<tr>
				<td>Subject</td>
				<td></td>
			</tr>
			<tr>
				<td>Language</td>
				<td></td>
			</tr>
			<tr>
				<td>Technical Factor</td>
				<td></td>
			</tr>
			<tr>
				<td>Role in Team</td>
				<td></td>
			</tr>
			<tr>
				<td>Contents</td>
				<td>
				<br>
				{% block Contents %}
					{% include "portfolio/program/work1.html" %}
				{% endblock %}
				</td>
			</tr>
			<tr>
				<td>Opinion</td>
				<td></td>
			</tr>
		</table>
	</div>
</body>
</html>
